.confirmed-cases {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #00000040;
    border-radius: 6px;
    opacity: 1;
    padding: 4px;
}
.title {
    text-align: left;
    text-decoration: underline;
    font: normal 21px/32px Roboto;
    letter-spacing: 0px;
    color: #737373;
    opacity: 1;
}
.cases-increase {
    text-align: center;
    font: normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: #737373;
    opacity: 1;
    margin: 10px 0px;
}
.new-cases {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.total-cases {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    border-top: 1px solid #707070;
    padding: 8px 0;
}
.case-number {
    text-align: left;
    font: normal 24px/32px Roboto;
    letter-spacing: 0px;
    color: #737373;
    opacity: 1;
    margin-bottom: 0px;
}
.case-total {
    text-align: left;
    font: normal 18px/32px Roboto;
    letter-spacing: 0px;
    color: #737373;
    opacity: 1;
    margin-bottom: 0px;
}