<div class="confirmed-cases">
    <div class="title">Confirmed Cases</div>
    <div class="new-cases">
        <p class="case-number">{{newCases}}</p>
        <p class="case-total">New Cases Today</p> 
    </div>
    <div class="progress" style="margin: 5px;height:8px">
        <div class="progress-bar bg-warning" style="width: 80%"></div>
    </div>
    <div class="cases-increase">
        <i class="fa fa-arrow-up"></i>
        + {{percentIncrease}}%  since yesterday
    </div>
    <div class="total-cases">
        <p class="case-number">{{totalCases}}</p>
        <p class="case-total">Cases Total</p> 
    </div>
</div>