.gender-demographics {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 6px #00000040;
  border-radius: 6px;
  opacity: 1;
  padding: 4px;
}
.title {
  text-align: center;
  text-decoration: underline;
  font: normal 21px/32px Roboto;
  letter-spacing: 0px;
  color: #737373;
  opacity: 1;
}